In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

#from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

vic_rape_df = pd.read_csv('Victim of Rape.csv')
#Exploring first few rows of 'Victims of Rape' dataset

In [6]:
vic_rape_df

,Area_Name,Year,Subgroup,Rape_Cases_Reported,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,3,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,1,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,2,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,2,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0
5,Andaman & Nicobar Islands,2002,Victims of Other Rape,2,0,0,1,1,0,2,0
6,Andaman & Nicobar Islands,2003,Total Rape Victims,2,0,0,1,0,0,2,1
7,Andaman & Nicobar Islands,2003,Victims of Incest Rape,0,0,0,0,0,0,0,0
8,Andaman & Nicobar Islands,2003,Victims of Other Rape,2,0,0,1,0,0,2,1
9,Andaman & Nicobar Islands,2004,Total Rape Victims,10,0,1,7,1,1,10,0
10,Andaman & Nicobar Islands,2004,Victims of Incest Rape,0,0,0,0,0,0,0,0
11,Andaman & Nicobar Islands,2004,Victims of Other Rape,10,0,1,7,1,1,10,0
12,Andaman & Nicobar Islands,2005,Total Rape Victims,4,0,0,2,2,0,4,0
13,Andaman & Nicobar Islands,2005,Victims of Incest Rape,0,0,0,0,0,0,0,0
14,Andaman & Nicobar Islands,2005,Victims of Other Rape,4,0,0,2,2,0,4,0
15,Andaman & Nicobar Islands,2006,Total Rape Victims,6,0,2,1,1,0,6,2
16,Andaman & Nicobar Islands,2006,Victims of Incest Rape,0,0,0,0,0,0,0,0
17,Andaman & Nicobar Islands,2006,Victims of Other Rape,6,0,2,1,1,0,6,2
18,Andaman & Nicobar Islands,2007,Total Rape Victims,3,0,0,3,0,0,3,0
19,Andaman & Nicobar Islands,2007,Victims of Incest Rape,0,0,0,0,0,0,0,0
20,Andaman & Nicobar Islands,2007,Victims of Other Rape,3,0,0,3,0,0,3,0
21,Andaman & Nicobar Islands,2008,Total Rape Victims,12,0,1,7,3,1,12,0
22,Andaman & Nicobar Islands,2008,Victims of Incest Rape,0,0,0,0,0,0,0,0
23,Andaman & Nicobar Islands,2008,Victims of Other Rape,12,0,1,7,3,1,12,0
24,Andaman & Nicobar Islands,2009,Total Rape Victims,18,0,3,7,5,1,18,2
25,Andaman & Nicobar Islands,2009,Victims of Incest Rape,0,0,0,0,0,0,0,0
26,Andaman & Nicobar Islands,2009,Victims of Other Rape,18,0,3,7,5,1,18,2
27,Andaman & Nicobar Islands,2010,Total Rape Victims,24,0,1,12,8,1,24,2
28,Andaman & Nicobar Islands,2010,Victims of Incest Rape,0,0,0,0,0,0,0,0
29,Andaman & Nicobar Islands,2010,Victims of Other Rape,24,0,1,12,8,1,24,2
...,...,...,...,...,...,...,...,...,...,...,...
1020,West Bengal,2001,Total Rape Victims,709,0,3,5,594,103,709,4
1021,West Bengal,2001,Victims of Incest Rape,0,0,0,0,0,0,0,0
1022,West Bengal,2001,Victims of Other Rape,709,0,3,5,594,103,709,4
1023,West Bengal,2002,Total Rape Victims,759,0,3,8,552,191,759,5
1024,West Bengal,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0
1025,West Bengal,2002,Victims of Other Rape,759,0,3,8,552,191,759,5
1026,West Bengal,2003,Total Rape Victims,1002,2,7,4,826,158,1002,5
1027,West Bengal,2003,Victims of Incest Rape,15,0,2,0,12,0,15,1
1028,West Bengal,2003,Victims of Other Rape,987,2,5,4,814,158,987,4
1029,West Bengal,2004,Total Rape Victims,1475,1,3,14,965,490,1475,2
1030,West Bengal,2004,Victims of Incest Rape,24,0,0,0,17,7,24,0
1031,West Bengal,2004,Victims of Other Rape,1451,1,3,14,948,483,1451,2
1032,West Bengal,2005,Total Rape Victims,1686,1,0,3,1451,228,1686,3
1033,West Bengal,2005,Victims of Incest Rape,36,0,0,0,31,5,36,0
1034,West Bengal,2005,Victims of Other Rape,1650,1,0,3,1420,223,1650,3
1035,West Bengal,2006,Total Rape Victims,1731,0,5,13,1477,234,1731,2
1036,West Bengal,2006,Victims of Incest Rape,6,0,0,0,6,0,6,0
1037,West Bengal,2006,Victims of Other Rape,1725,0,5,13,1471,234,1725,2
1038,West Bengal,2007,Total Rape Victims,2106,5,42,36,1478,531,2106,14
1039,West Bengal,2007,Victims of Incest Rape,114,0,2,3,81,25,114,3
1040,West Bengal,2007,Victims of Other Rape,1992,5,40,33,1397,506,1992,11
1041,West Bengal,2008,Total Rape Victims,2263,1,53,54,1629,504,2263,22
1042,West Bengal,2008,Victims of Incest Rape,9,0,2,1,1,0,9,5
1043,West Bengal,2008,Victims of Other Rape,2254,1,51,53,1628,504,2254,17
1044,West Bengal,2009,Total Rape Victims,2336,0,18,85,1835,392,2336,6
1045,West Bengal,2009,Victims of Incest Rape,3,0,0,1,1,1,3,0
1046,West Bengal,2009,Victims of Other Rape,2333,0,18,84,1834,391,2333,6
1047,West Bengal,2010,Total Rape Victims,2311,0,22,51,1779,459,2311,0
1048,West Bengal,2010,Victims of Incest Rape,4,0,1,0,2,1,4,0
1049,West Bengal,2010,Victims of Other Rape,2307,0,21,51,1777,458,2307,0

In [7]:
vic_rape_df.head()

,Area_Name,Year,Subgroup,Rape_Cases_Reported,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,3,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,1,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,2,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,2,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0

In [10]:
mah_vic=vic_rape_df.loc[vic_rape_df['Area_Name']=='Andaman & Nicobar Islands']
mah_vic_2010_total = mah_vic [(mah_vic['Year']==2014) & (mah_vic['Subgroup']=='Victims of Incest Rape')]

#Plotting age breakup of victims
ax = mah_vic_2010_total[['Victims_Above_50_Yrs','Victims_Between_10-14_Yrs','Victims_Between_14-18_Yrs','Victims_Between_18-30_Yrs','Victims_Between_30-50_Yrs']].plot(kind='bar',legend=True, title = 'Age Breakup of rape victims (Maharashtra)')
ax.set_ylabel("No of Victims", fontsize=12)
ax.set_xticklabels([])

TypeError: Empty 'DataFrame': no numeric data to plot